@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
* {
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }
  ul li {
    padding: 1rem;
    display: inline-block; }
    ul li:hover {
      color: rgba(179, 21, 21, 0.767); }
    ul li a {
      text-decoration: none;
      font-size: 3em;
      color: #6D6A6A; }

/*===== Aplicando maps, map-get y mixin ===== */
@media (min-width: 480px) {
  #portfolio-contenedor-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto repeat(4, auto);
    grid-template-areas: "portfolio-indice portfolio-indice" "portfolio-datos-personales portfolio-experiencia" "portfolio-datos-personales portfolio-educacion" "portfolio-datos-personales portfolio-proyecto"; }
  .portfolio-datos-personales p {
    font-size: 0.8rem; }
  h3 {
    font-size: 1.2rem; } }

@media (min-width: 768px) {
  #portfolio-contenedor-grid {
    display: grid;
    grid-template-columns: 30% 70%; }
  .portfolio-datos-personales p {
    font-size: 1rem; }
  .portfolio-icono {
    height: 2.5rem; }
  h3 {
    font-size: 1.2rem; } }

@keyframes textAlpha {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*extend*/
.boton, .boton-aceptar, .boton-cancelar {
  width: 200px;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black; }

.boton-aceptar {
  background-color: green;
  color: yellow; }

.boton-cancelar {
  background-color: red;
  color: yellow; }

/* animaciones */
.animate {
  animation-name: textAlpha;
  animation-iteration-count: 1; }

.duracion-3s {
  animation-duration: 3s; }

.duracion-5s {
  animation-duration: 5s; }

.duracion-7s {
  animation-duration: 7s; }

.duracion-8s {
  animation-duration: 8s; }

/*===== index.html ===== */
.portada {
  background-color: black;
  color: white; }

.portada img {
  height: 35px; }

/*===== portfolio.html ===== */
.portfolio-body {
  background-color: black; }

.portfolio-icono {
  height: 1.5rem;
  border-radius: 50%; }

.portfolio-foto-perfil {
  height: 18vh;
  border-radius: 50%;
  margin-top: -10%; }

.portfolio-contacto-img {
  height: 1.5rem;
  border-radius: 50%; }

.portfolio-indice {
  background: black;
  color: white;
  grid-area: portfolio-indice; }

.portfolio-datos-personales {
  background: black;
  color: white;
  grid-area: portfolio-datos-personales; }

.portfolio-experiencia {
  grid-area: portfolio-experiencia; }

.portfolio-educacion {
  grid-area: portfolio-educacion; }

.portfolio-proyecto {
  grid-area: portfolio-proyecto; }

.portfolio-icono {
  height: 1.5rem;
  border-radius: 50%; }

.portfolio-foto-perfil {
  height: 18vh;
  border-radius: 50%;
  margin-top: -10%;
  z-index: 100; }

.portfolio-contacto-img {
  height: 1.5rem;
  border-radius: 50%; }

.portfolio-section h1 {
  font-size: 1.2rem; }
