/*===== Reset ===== */



/*===== Maquetado Global ===== */



/*===== index.html ===== */

.portada {
    background-color: black;
    color: white;
}

.portada img {
    height: 35px;
}

/*===== portfolio.html ===== */


/*===== responsive ===== */

@media (min-width: 480px){

    
}