/*===== Reset ===== */
*{
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}


/*===== Maquetado Global ===== */

@keyframes textAlpha{
	from{opacity: 0}
	to{opacity: 1}
}

.animate{
	animation-name: textAlpha;
	animation-iteration-count: 1;
}

.duracion-3s {
    animation-duration: 3s;
}

.duracion-5s {
    animation-duration: 5s;
}

.duracion-7s {
    animation-duration: 7s;
}

.duracion-8s {
    animation-duration: 8s;
}




/*===== portfolio.html ===== */




@media (min-width: 480px){


}

@media (min-width: 768px){


}