* {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;

    li {
        padding: 0.1rem;
        display: inline-block;

        a {
            text-decoration: none;
            font-size: $textXl;
            color: $grey;
        }

        &:hover {
            background-color: $black;
            color: $white;
            border-radius: 0.5rem;
        }

        p {
            margin: 0;
            padding: 0.2rem;
        }
    }

}

.card {

    &:hover {
        background-color: $black;
        color: $white;
    }
}

.accordion-item{
    @extend .card;

    &:hover {
        border-radius: 0.5rem;
    }
}

@mixin animate($textAlpha) {
    @keyframes #{$textAlpha} {
      @content;
    }
}

  @include animate(textAlpha) {
    from{opacity: 0}
	to{opacity: 1}
  }

/*extend*/

.boton {
	width: 150px;
	height:45px;
	background-color: $black;
	text-align: center;
	color: $white;
	border-radius: 8px;
    text-decoration: none;
	border:1px solid $black;
    transition-duration: 0.4s;
}

.boton-aceptar{
	@extend .boton;
	background-color: $green;

    &:hover {
        color: $black;
    }
}

.boton-cancelar {
    @extend .boton;
    background-color: $red;

    a {
        color: $white;
        text-decoration: none;

        &:hover {
            color: $black;
        }
    }
}

/* animaciones */

.animate {
    animation-name: textAlpha;
    animation-iteration-count: 1;
}

.duracion-3s {
    animation-duration: 3s;
}

.duracion-5s {
    animation-duration: 5s;
}

.duracion-7s {
    animation-duration: 7s;
}

.duracion-8s {
    animation-duration: 8s;
}

/*===== index.html ===== */

.portada {
    background-color: $black;
    color: $white;
}

.portada img {
    height: 35px;
}

/*===== portfolio.html ===== */

.portfolio-body {
    background-color: $black;
}

.portfolio-icono {
    height: $icono-alto;
    border-radius: 50%;
    background-color: $white;
}

.portfolio-contacto-img {
    height: $icono-alto;
    border-radius: 50%;
}

.portfolio-indice {
    background-color: $black;
    color: $white;
    border-radius: 0.5rem;
    text-align: center;
    grid-area: portfolio-indice;

    .nav-item {
        width: 10rem;
    }

    .nav-link {

        border-radius: 0.5rem;
        color: $white;
        width: 10rem;
        height: 2.4rem;

        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}


.portfolio-datos-personales {
    background-color: $black;
    color: $white;
//    @extend .portfolio-indice;
    grid-area: portfolio-datos-personales;
    border-radius: 0.5rem;
}

.portfolio-experiencia {
    grid-area: portfolio-experiencia;
}

.portfolio-educacion {
    grid-area: portfolio-educacion;
}

.portfolio-proyecto {
    grid-area: portfolio-proyecto;

    a {
        text-decoration: none;
    }
}

.portfolio-icono-plus {
    height: 1.5rem;
    opacity: 0.5;
}

.portfolio-icono-titulo {
    height: 2rem;
}

.portfolio-foto-perfil {
    height: 20vh;
    border-radius: 50%;
    margin-top: -4%;
    z-index: 100;
}

.portfolio-contacto-img {
    height: 1.5rem;
    border-radius: 50%;
}


.portfolio-section h1 {
    font-size: 1.2rem;
}

.portfolio-descripcion-cargo {
    color: $grey;
}

/*===== Aplicando maps, map-get y mixin ===== */

// Mapa con breakpoints
$breakpoints: (
    medium: 480px,
    large: 768px
);

@media (min-width: map-get($breakpoints, large)) {

    #portfolio-contenedor-grid {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: auto repeat(4, auto);
        grid-template-areas: 
        "portfolio-datos-personales portfolio-indice"
        "portfolio-datos-personales portfolio-experiencia"
        "portfolio-datos-personales portfolio-educacion"
        "portfolio-datos-personales portfolio-proyecto";
    }

    .portfolio-datos-personales {
        margin: 0.2rem;
        padding: 0.2rem;
        height: 99vh;
        width: 29.5vw;
        position: fixed;
        top: 0;
        left: 0;
    }

    .portfolio-datos-personales p {
        font-size: 1rem;
    }

    .portfolio-icono {
        height: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

  };


