@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

//vars fonts
$mainFont: "Roboto";
$secondaryFont: "Nunito Sans", sans-serif;

//sizes
$textSm: 0.8em;
$textMd: 1.2rem;
$textLg: 1.6em;
$textXl: 3em;
