<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Agregar Nueva Experiencia</title>

      <!--link favicon-->
      <link rel="shortcut icon" type="image/x-icon" href="../img/diamond-hard.ico">

      <!--link para aplicar bootstrap-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

      <!--link para aplicar CSS-->
      <link rel="stylesheet" href="../css/main.css">

    </head>
    
    <body class="">

      <section class="d-flex justify-content-end text-end m-1">
        <p class="w-25">03</p>
      </section>

      <div class="card m-2 section-container portada">
      
        <div class="card-header text-center">
          <h2>Nueva Experiencia Laboral</h2>
        </div>

        <div class="d-lg-flex flex-row justify-content-between p-2 m-2">
          <div class="mt-1">
            <label for="exampleFormControlInput1" class="form-label">Empresa:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre Empresa">
          </div>
          <div class="mt-1">
            <label for="exampleFormControlInput2" class="form-label">Fecha Ingreso:</label>
            <input type="date" class="form-control" id="exampleFormControlInput2">
          </div>
          <div class="mt-1">
            <label for="exampleFormControlInput3" class="form-label">Fecha Egreso:</label>
            <input type="date" class="form-control" id="exampleFormControlInput3">
          </div>
          <div class="mt-1">
            <label for="exampleFormControlInput4" class="form-label">Cargo:</label>
            <input type="text" class="form-control" id="exampleFormControlInput4" placeholder="Nombre Cargo">
          </div>      
        </div>

        <div class="p-2 m-2">
          <label for="exampleFormControlTextarea1" class="form-label">Descripción Cargo:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>
    
        <div class="d-flex flex-row justify-content-center  m-2">
          <input type="submit" href="#" class="boton-aceptar m-2" value="Aceptar">
          <button type="button" class="boton-cancelar m-2">
            <a class="" href="./portfolio.html">Cancelar</a>
          </button>
        </div>
    
      </div>

    </body>

</html>
