<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Info Proyecto</title>

        <!--link para aplicar bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

        <!--link para aplicar CSS-->
        <link rel="stylesheet" href="../css/style.css">
        
    </head>
    
    <body>

      <div class="card m-2 section-container">
      
        <div class="card-header text-center">
          <h2>Info Proyecto</h2>
        </div>
    
        <div class="card-body nueva-formacion">
    
          <form action="portfolio.html" method="GET" autocomplete="off" class="d-flex flex-column justify-content-between">
            <div class="user-box d-flex justify-content-center m-2">
              <label>Nombre:</label>
              <input type="text" name="infoProyectoNombre" id="infoProyectoNombre" placeholder="nombre Proyecto" required="">
            </div>
            <div class="user-box d-flex justify-content-center m-2">
              <label>URL:</label>
              <input type="text" name="infoProyectoURL" id="infoProyectoURL" placeholder="URL" required="">
            </div>
            <div class="user-box d-flex justify-content-center m-2">
              <label>Fecha:</label>
              <input type="date" name="infoProyectoFecha" id="infoProyectoFecha" required="">
            </div>
    
          </form>
    
        </div>
    
        <div class="d-flex flex-row justify-content-center mb-3">
          <input type="submit" href="#" class="aAceptar m-2" value="Aceptar">
          <a href="./portfolio.html" class="aCancelar m-2">Cancelar</a>
        </div>
    
      </div>

    </body>

</html>