<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Info Experiencia Laboral</title>

      <!--link para aplicar bootstrap-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

      <!--link para aplicar CSS-->
      <link rel="stylesheet" href="../css/style.css">
    
    </head>
    
    <body>

      <main class="container-fluid">

        <form action="portfolio.html" method="GET" autocomplete="off" class="card section-container mt-2">
    
          <div class="row section-container mx-0 my-1">
    
            <div class="col-xs-12 col-md-12 col-lg-12 text-center card-header">
    
              <h2 >Info Experiencia Laboral</h2>
    
            </div><!--end column -->
          
          </div> <!-- end row -->
    
    
          <div class="container-fluid m-0 p-0 datos-personales-editar">
            
            <div class="row">
            
              <div class="col-xs-12 col-md-6 col-lg-12 px-1 mb-1">
                <div class="user-box d-flex justify-content-center m-2">
                  <label>Compañia:</label>
                  <input type="text" name="infoExperienciaLaboralCompania" id="infoExperienciaLaboralCompania" placeholder="nombre Compañia" required="">
                </div>
              </div><!--end column -->
            
              <div class="col-xs-12 col-md-6 col-lg-12 px-1 mb-1">
                <div class="user-box d-flex justify-content-center m-2">
                  <label>Cargo:</label>
                  <input type="text" name="infoExperienciaLaboralCargo" id="infoExperienciaLaboralCargo" placeholder="Cargo" required="">
                </div>
              </div><!--end column -->
            
            </div> <!--end div row -->
            
          </div>
            
          <div class="container-fluid m-0 p-0 datos-personales-editar">
            
            <div class="row">
            
              <div class="col-xs-12 col-md-6 col-lg-12 px-1 mb-1">
                <div class="user-box d-flex justify-content-center m-2">
                  <label>Desde:</label>
                  <input type="date" name="infoExperienciaLaboralFechaDesde" id="infoExperienciaLaboralFechaDesde" required="">
                </div>
              </div><!--end column -->
            
              <div class="col-xs-12 col-md-6 col-lg-12 px-1 mb-1">
                <div class="user-box d-flex justify-content-center m-2">
                  <label>Hasta:</label>
                  <input type="date" name="infoExperienciaLaboralFechaHasta" id="infoExperienciaLaboralFechaHasta" required="">
                </div>
              </div><!--end column -->
            
            </div> <!--end div row -->
            
          </div><!--end div container -->
    
          <div class="container-fluid">
    
            <div class="row my-1">
    
              <div class="col-xs-12 col-md-12 col-lg-12 px-1 mb-1"></div>
    
                <div class="d-flex flex-row justify-content-center mb-3">
                  <input type="submit" href="#" class="aAceptar m-2" value="Aceptar">
                  <a href="./portfolio.html" class="aCancelar m-2">Cancelar</a>
                </div>
              
              </div> <!--end column -->
            
            </div> <!-- end row -->
    
          </div><!--end div container -->
    
        </form>
    
      </main> <!--end container general -->

    </body>

</html>



<!-- 
  <div class="card m-2 section-container">
      
        <div class="card-header text-center">
          <h2>Info Experiencia Laboral</h2>
        </div>
    
        <div class="card-body nueva-formacion">
    
          <form action="portfolio.html" method="GET" autocomplete="off" class="d-flex flex-column justify-content-between">
            <div class="user-box d-flex justify-content-center m-2">
              <label>Compañia:</label>
              <input type="text" name="infoExperienciaLaboralCompania" id="infoExperienciaLaboralCompania" placeholder="nombre Compañia" required="">
            </div>
            <div class="user-box d-flex justify-content-center m-2">
              <label>Cargo:</label>
              <input type="text" name="infoExperienciaLaboralCargo" id="infoExperienciaLaboralCargo" placeholder="Cargo" required="">
            </div>
            <div class="user-box d-flex justify-content-center m-2">
              <label>Desde:</label>
              <input type="date" name="infoExperienciaLaboralFechaDesde" id="infoExperienciaLaboralFechaDesde" required="">
            </div>
            <div class="user-box d-flex justify-content-center m-2">
              <label>Hasta:</label>
              <input type="date" name="infoExperienciaLaboralFechaHasta" id="infoExperienciaLaboralFechaHasta" required="">
            </div>
    
          </form>
    
        </div>
    
        <div class="d-flex flex-row justify-content-center mb-3">
          <input type="submit" href="#" class="aAceptar m-2" value="Aceptar">
          <a href="./portfolio.html" class="aCancelar m-2">Cancelar</a>
        </div>
    
      </div>
-->