<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nueva Formacion Academica</title>

  <!--link para aplicar bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!--link para aplicar CSS-->
  <link rel="stylesheet" href="../css/main.css">

    </head>
    
    <body>

      <section class="d-flex justify-content-end text-end m-1">
        <p class="w-25">04</p>
      </section>

      <div class="card m-2 section-container portada">
      
        <div class="card-header text-center ">
          <h2>Nueva Formación Academica</h2>
        </div>

        <div class="d-lg-flex flex-row justify-content-between p-2 m-2">
        
          <div class="m-2">
            <label for="exampleFormControlInput1" class="form-label">Institución:</label>
            <input type="text" class="form-control" id="FormacionFormControlInput1" placeholder="Nombre Institución">
          </div>
          <div class="m-2">
            <label for="exampleFormControlInput2" class="form-label">Titulo:</label>
            <input type="text" class="form-control" id="FormacionControlInput2" placeholder="Nombre Formación">
          </div>
          <div class="m-2">
            <label for="exampleFormControlTextarea1" class="form-label">Fecha:</label>
            <input type="Date" class="form-control" id="FormacionFormControlTextarea1"></input>
          </div>
        
        </div>
    
        <div class="d-flex flex-row justify-content-center m-2">
          <input type="submit" href="#" class="boton-aceptar m-2" value="Aceptar">
          <button type="button" class="boton-cancelar m-2">
            <a class="" href="./portfolio.html">Cancelar</a>
          </button>
        </div>
    
      </div>
    
    </body>

</html>
