<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>portfolio</title>

    <!--link para aplicar bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" 
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    <!--link para aplicar CSS-->
    <link rel="stylesheet" href="../css/main.css">


</head>

<body class="m-1">

    <div id="portfolio-contenedor-grid">

        <div class="portfolio-datos-personales pt-1">
  
            <section class="d-flex justify-content-between mx-1">
    
                <div class="">
                    <a class="" href="../index.html">
                        <img src="../img/person-circle.svg" alt="Volver Inicio" class="portfolio-icono">
                    </a>
                </div>

                <div class="">
                    <a href="#">
                        <img src="../img/github.svg" alt="github" class="portfolio-icono">
                    </a>
    
                    <a class="" href="#">
                        <img src="../img/linkedin.svg" alt="linkedin" class="portfolio-icono">
                    </a>
                </div>
    
            </section>
    
            <section class="text-center m-1">
    
                <div class="">
                    <img src="../img/fotoperfil.jpg" alt="imagen-foto"
                        class="img-thumbnail animate duracion-3s portfolio-foto-perfil">
                </div>
    
                <h1>Luis Solís</h1>
                <h3 class="m-2">Ingeniero Desarrollador Full Stack</h3>
    
            </section>
    
            <hr class="m-1">
    
            <section class="d-flex flex-column my-1">
    
                <div class="d-flex justify-content-center my-2">
                    <img src="../img/mail.png" alt="mail" style="background-color: white"
                        class="portfolio-contacto-img mx-1">
                    <p>edusolis@yahoo.com.ar</p>
                </div>
    
                <div class="d-flex justify-content-center my-2">
                    <img src="../img/location.png" alt="locacion" style="background-color: white"
                        class="portfolio-contacto-img mx-1">
                    <p>Bariloche - Argentina</p>
                    <img src="../img/Argentina_flag_icon.svg.png" alt="bandera Argentina" style="background-color: white;"
                        class="portfolio-contacto-img mx-1">
                </div>
    
                <div class="d-flex justify-content-center my-2">
                    <img src="../img/cel-phone.png" alt="phone" style="background-color: white;"
                        class="portfolio-contacto-img mx-1">
                    <p>+54 299 610 9623</p>
                </div>
    
            </section>

            <hr class="m-1">

            <section class="text-center my-1">
                <div class="d-flex justify-content-center my-1">
                    <img src="../img/translate.svg" alt="language" style="background-color: white;" class="portfolio-contacto-img mx-1">
                    <h3>Idiomas</h3>
                </div>
                
                <div class="d-flex justify-content-center my-3">
                    <img src="../img/Bandera_de_España.png" alt="bandera españa" class="portfolio-contacto-img mx-1">
                    <p>Nativo</p>
                </div>
                <div class="d-flex justify-content-center my-3">
                    <img src="../img/Flag_of_the_United_Kingdom.png" alt="bandera españa" class="portfolio-contacto-img mx-1">
                    <p>Tarzan</p>
                </div>
                <div class="d-flex justify-content-center my-2">
                    <img src="../img/vulcano.png" alt="star" class="portfolio-contacto-img mx-1">
                    <p>Vulcano</p>
                </div>
            </section>

            <hr class="m-1">

            <section class="portfolio-indice d-flex justify-content-center align-items-center">
                <nav class="navbar p-0">
                        <ul class="navbar-nav p-0">
                            <li class="nav-item p-0 m-1">
                                <a class="nav-link" href="#Experiencia">EXPERIENCIA</a>
                            </li>
                            <li class="nav-item p-0 m-1">
                                <a class="nav-link" href="#Educacion">EDUCACION</a>
                            </li>
                            <li class="nav-item p-0 m-1">
                                <a class="nav-link" href="#Proyectos">PROYECTOS</a>
                            </li>
                        </ul>
                </nav>
            </section>


        </div>

        
    
        <section class="portfolio-section portfolio-experiencia ms-1" id="Experiencia">
    
            <div class="d-flex justify-content-between m-2 p-1 animate duracion-3s">
                <div class="d-flex align-items-center">
                    <img class="portfolio-icono-titulo mx-1" src="../img/briefcase-fill.svg" alt="Maletin">
                    <h2>EXPERIENCIA LABORAL</h2>
                </div>
                
                <a href="./nuevaExperienciaLaboral.html" class="">
                    <img src="../img/plus-square.svg" alt="icono sumar" class="portfolio-icono-plus">
                </a>
            </div>
    
            <div class="accordion accordion-flush m-1" id="accordionFlushExample">
                <div class="accordion-item d-block d-sm-none">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <img class="portfolio-contacto-img mx-1" src="../img/diamond-hard.svg" alt="logo Freelance">
                            Freelance [ 2020 - Actual ]
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body p-2">
                            <h5 class="p-1">Ingeniero Desarrollador Full Stack</h5>
                  <li class="ms-3">Desarrollo de interfaz y arquitectura de sitios web.</li>
                  <li class="ms-3">Diseño interfaces de usuario y otras funcionalidades front-end.</li>
                  <li class="ms-3">Desarrollo aplicaciones back-end.</li>
                  <li class="ms-3">Mejora de funcionalidad de aplicaciones y páginas en dispositivos móviles.</li>
                        </div>
                    </div>
                </div>
    
                <div class="accordion-item d-block d-sm-none">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <img class="portfolio-contacto-img mx-1" src="../img/logo-ypf.png" alt="logo YPF">
                            YPF SA [ 2014 - 2020 ]
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body p-2">
                            <h5 class="p-1">Lider Ingenieria Reservorios</h5>
                            <li class="ms-3">Liderar sector de Reservorios, integrado por cuatro colaboradores, dos
                                Ingenieros y dos Geólogos.</li>
                            <li class="ms-3">Monitorear el comportamiento de la producción de Petróleo y Gas del
                                Yacimiento actuando sobre los desvíos y optimizando recursos.</li>
                            <li class="ms-3">Elaborar análisis técnico-económico de propuestas para incremento de
                                reservas y optimización de la producción de gas y petróleo.</li>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item d-block d-sm-none">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            <img class="portfolio-contacto-img mx-1" src="../img/logo-capsa.png" alt="logo CAPSA">
                            CAPSA [ 2008 - 2014 ]
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body p-2">
                            <h5 class="p-1">Ingeniero Reservorios Senior</h5>
                            <li class="ms-3">Monitorear el comportamiento de los proyectos asignados (Recuperación
                                Primaria, Secundaria y Polímeros) a partir de la evaluación de los distintos
                                parámetros operativos (Producción e Inyección).</li>
                            <li class="ms-3">Realizar el cálculo de reservas a partir del volumen de rocas, mapas
                                estratigráficos, mapas estructurales, antecedentes de producción de pozos
                                vecinos, etc.</li>
                        </div>
                    </div>
                </div>
                </div>

            <div class="card d-none d-sm-block m-1 p-0">
                <div class="card-header d-flex">
                    <img class="portfolio-contacto-img mx-1" src="../img/diamond-hard.svg" alt="logo Freelance">
                    <h3>Freelance [ 2020 - Actual ]</h3>
                </div>
                <div class="card-body p-2">
                  <h5 class="card-title">Ingeniero Desarrollador Full Stack</h5>
                  <li class="ms-3">Desarrollo de interfaz y arquitectura de sitios web.</li>
                  <li class="ms-3">Diseño interfaces de usuario y otras funcionalidades front-end.</li>
                  <li class="ms-3">Desarrollo aplicaciones back-end.</li>
                  <li class="ms-3">Mejora de funcionalidad de aplicaciones y páginas en dispositivos móviles.</li>
                  <p class="card-text portfolio-descripcion-cargo">Saliendo de la zona de confort</p>
                </div>
            </div>

            <div class="card d-none d-sm-block m-1 p-0">
                <div class="card-header d-flex">
                    <img class="portfolio-contacto-img mx-1" src="../img/logo-ypf.png" alt="logo YPF">
                    <h3>YPF SA [ 2014 - 2020 ]</h3>
                </div>
                <div class="card-body p-2">
                  <h5 class="card-title">Lider Ingenieria Reservorios</h5>
                  <li class="ms-3">Liderar sector de Reservorios, integrado por cuatro colaboradores, dos
                    Ingenieros y dos Geólogos.</li>
                  <li class="ms-3">Monitorear el comportamiento de la producción de Petróleo y Gas del
                    Yacimiento actuando sobre los desvíos y optimizando recursos.</li>
                  <li class="ms-3">Elaborar análisis técnico-económico de propuestas para incremento de
                    reservas y optimización de la producción de gas y petróleo.</li>
                  <p class="card-text portfolio-descripcion-cargo">Ingeniero en casi todo</p>
                </div>
            </div>

            <div class="card d-none d-sm-block m-1 p-0">
                <div class="card-header d-flex">
                    <img class="portfolio-contacto-img mx-1" src="../img/logo-capsa.png" alt="logo CAPSA">
                    <h3>CAPSA [ 2008 - 2014 ]</h3>
                </div>
                <div class="card-body p-2">
                  <h5 class="card-title">Ingeniero Reservorios Senior</h5>
                  <li class="ms-3">Monitorear el comportamiento de los proyectos asignados (Recuperación
                    Primaria, Secundaria y Polímeros) a partir de la evaluación de los distintos
                    parámetros operativos (Producción e Inyección).</li>
                  <li class="ms-3">Realizar el cálculo de reservas a partir del volumen de rocas, mapas
                    estratigráficos, mapas estructurales, antecedentes de producción de pozos
                    vecinos, etc.</li>
                  <p class="card-text portfolio-descripcion-cargo">La mejor epoca laboral - que vuelvan los 80</p>
                </div>
            </div>

        </section>
    
        <section class="portfolio-section portfolio-educacion ms-1" id="Educacion">

            <div class="d-flex justify-content-between m-2 p-1 animate duracion-3s">
                <div class="d-flex align-items-center">
                    <img class="portfolio-icono-titulo mx-1" src="../img/mortarboard-fill.svg" alt="Educacion">
                    <h2>EDUCACION</h2>
                </div>
                
                <a href="./nuevaFormacion.html" class="">
                    <img src="../img/plus-square.svg" alt="icono sumar" class="portfolio-icono-plus">
                </a>
            </div>
    
            <div class="accordion accordion-flush m-1" id="accordionFlushExample1">
                <div class="accordion-item d-block d-sm-none">
                    <h2 class="accordion-header" id="flush-headingOne1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne1" aria-expanded="false" aria-controls="flush-collapseOne1">
                            <img class="portfolio-contacto-img mx-1" src="../img/logo-coder.png"
                                alt="logo CoderHouse">CoderHouse [ 2022 ]
                        </button>
                    </h2>
                    <div id="flush-collapseOne1" class="accordion-collapse collapse d-sm-block" aria-labelledby="flush-headingOne1"
                        data-bs-parent="#accordionFlushExample1">
                        <div class="accordion-body p-2">
                            <h5 class="p-1">Desarrollador Full Stack Junior</h5>
                            <li class="ms-3">Programación Backend</li>
                            <li class="ms-3">React Js</li>
                            <li class="ms-3">Javascript</li>
                            <li class="ms-3">Desarrollo Web</li>
                        </div>
                    </div>
                </div>
    
                <div class="accordion-item d-block d-sm-none">
                    <h2 class="accordion-header" id="flush-headingTwo1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo1" aria-expanded="false" aria-controls="flush-collapseTwo1">
                            <img class="portfolio-contacto-img mx-1" src="" alt="logo">
                            #ArgentinaPrograma [ 2022 ]
                        </button>
                    </h2>
                    <div id="flush-collapseTwo1" class="accordion-collapse collapse d-sm-block" aria-labelledby="flush-headingTwo1"
                        data-bs-parent="#accordionFlushExample1">
                        <div class="accordion-body p-2">
                            <h5 class="p-1">Desarrollador Full Stack Junior</h5>
                            <li class="ms-3">Programación Backend</li>
                            <li class="ms-3">Angular</li>
                            <li class="ms-3">Javascript</li>
                            <li class="ms-3">Desarrollo Web</li>
                        </div>
                    </div>
                </div>
    
                <div class="accordion-item d-block d-sm-none">
                    <h2 class="accordion-header" id="flush-headingThree1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree1" aria-expanded="false"
                            aria-controls="flush-collapseThree1">
                            <img class="portfolio-contacto-img mx-1" src="../img/escudo-UNC.jpg" alt="logo UNC">
                            UNC [ 1998 - 2004 ]
                        </button>
                    </h2>
                    <div id="flush-collapseThree1" class="accordion-collapse collapse d-sm-block" aria-labelledby="flush-headingThree1"
                        data-bs-parent="#accordionFlushExample1">
                        <div class="accordion-body p-2">
                            <h5 class="p-1">Ingeniero Electronico</h5>
                            <li class="ms-3">Diseñar, analizar y construir equipos y/o sistemas electrónicos</li>
                            <li class="ms-3">Crear, innovar y transferir tecnología aplicando métodos y procedimientos en proyectos de
                                ingeniería electrónica</li>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card d-none d-sm-block m-1 p-0">
                <div class="card-header d-flex">
                    <img class="portfolio-contacto-img mx-1" src="../img/logo-coder.png" alt="logo CoderHouse">
                    <h3>CoderHouse [ 2022 ]</h3>
                </div>
                <div class="card-body p-2">
                  <h5 class="card-title">Desarrollador Full Stack Junior</h5>
                  <li class="ms-3">Programación Backend</li>
                  <li class="ms-3">React Js</li>
                  <li class="ms-3">Javascript</li>
                  <li class="ms-3">Desarrollo Web</li>
                  <p class="card-text portfolio-descripcion-cargo">Saliendo de la zona de confort</p>
                </div>
            </div>

            <div class="card d-none d-sm-block m-1 p-0">
                <div class="card-header d-flex">
                    <img class="portfolio-contacto-img mx-1" src="" alt="logo">
                    <h3>#ArgentinaPrograma [ 2022 ]</h3>
                </div>
                <div class="card-body p-2">
                  <h5 class="card-title">Desarrollador Full Stack Junior</h5>
                  <li class="ms-3">Programación Backend</li>
                  <li class="ms-3">Angular</li>
                  <li class="ms-3">Javascript</li>
                  <li class="ms-3">Desarrollo Web</li>
                  <p class="card-text portfolio-descripcion-cargo">Saliendo de la zona de confort</p>
                </div>
            </div>

            <div class="card d-none d-sm-block m-1 p-0">
                <div class="card-header d-flex">
                    <img class="portfolio-contacto-img mx-1" src="../img/escudo-UNC.jpg" alt="logo UNC">
                    <h3>Universidad Nacional de Cordoba - Argentina [ 1998 - 2004 ] </h3>
                </div>
                <div class="card-body p-2">
                  <h5 class="card-title">Ingeniero Electronico</h5>
                  <li class="ms-3">Diseñar, analizar y construir equipos y/o sistemas electrónicos</li>
                  <li class="ms-3">Crear, innovar y transferir tecnología aplicando métodos y procedimientos en proyectos de ingeniería electrónica</li>
                  <p class="card-text portfolio-descripcion-cargo">Aguante el alfajor cordobes</p>
                </div>
            </div>
    
        </section>       
    
        <section class="portfolio-section portfolio-proyecto ms-1" id="Proyectos">
            <div class="d-flex justify-content-between m-2 p-1 animate duracion-3s">
                <div class="d-flex align-items-center">
                    <img class="portfolio-icono-titulo mx-1" src="../img/file-code-fill.svg" alt="proyecto">
                    <h2>PROYECTOS</h2>
                </div>
                
                <a href="./nuevoProyecto.html" class="">
                    <img src="../img/plus-square.svg" alt="icono sumar" class="portfolio-icono-plus">
                </a>
            </div>
    
            <div class="accordion accordion-flush m-1" id="accordionFlushExample2">
                <div class="accordion-item d-sm-none">
                    <h2 class="accordion-header" id="flush-headingOne2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne2" aria-expanded="false" aria-controls="flush-collapseOne2">
                            <img class="portfolio-contacto-img mx-1" src="../img/diamond-hard.svg" alt="logo Freelance">CV
                            Online
                        </button>
                    </h2>
                    <div id="flush-collapseOne2" class="accordion-collapse collapse d-sm-block" aria-labelledby="flush-headingOne2"
                        data-bs-parent="#accordionFlushExample2">
                        <div class="accordion-body p-2">
                            <h5 class="p-1">URL: wwww.CVonline.com</h5>
                            <li class="ms-3">Descripción Proyecto</li>
                        </div>
                    </div>
                </div>
    
            </div>

            <div class="list-group d-none d-sm-block mx-1">

                <div class="card d-none d-sm-block m-1 p-0">
                    <div class="card-header d-flex">
                        <div class="d-flex">
                            <img class="portfolio-contacto-img mx-1" src="../img/diamond-hard.svg" alt="logo Freelance">
                            <h3>CV Online</h3>
                        </div>
                    </div>
                    <div class="card-body p-2">
                      <h5 class="card-title">URL: wwww.CVonline.com</h5>
                      <li class="ms-3">Descripción Proyecto</li>
                    </div>
                </div>

            </div>
    
        </section>
  
    </div>
 
</body>

</html>