<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>portfolio</title>

    <!--link para aplicar bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!--link para aplicar CSS-->
    <link rel="stylesheet" href="../css/style.css">


</head>

<body class="portfolio">

    <div>

        <section class="d-flex justify-content-end text-end m-1">
            <p class="w-25">02</p>
        </section>


        <section class="d-flex justify-content-between m-1" >

            <div>
                <a href="#" >
                    <img src="../img/github.svg" alt="github" class="portfolio-icono" style="background-color: white;">
                </a>

                <a class="" href="#">
                    <img src="../img/linkedin.svg" alt="linkedin" class="portfolio-icono" style="background-color: white;">
                </a>
            </div>

            <div>

                <a class="" href="../index.html">
                    <img src="../img/person-circle.svg" alt="Volver Inicio" class="portfolio-icono" style="background-color: white;">
                </a>

            </div>

        </section>

        <hr class="m-2">

        <section class="text-center m-1">

            <div class="">
                <img src="../img/fotoperfil.jpg" alt="imagen-foto" class="img-thumbnail animate duracion-3s portfolio-foto-perfil">
            </div>

            <h1>Luis</h1>
            <h1>Solís</h1>
        
        </section>

        <hr class="m-1">

        <section class="d-flex flex-column ">

            <div class="d-flex justify-content-center my-1">
                <img src="../img/envelope.svg" alt="mail" style="background-color: white" class="portfolio-contacto-img mx-1">
                <p>edusolis@yahoo.com.ar</p>
            </div>

            <div class="d-flex justify-content-center my-1">
                <img src="../img/geo-alt.svg" alt="locacion" style="background-color: white;" class="portfolio-contacto-img mx-1">
                <p>Bariloche - Argentina</p>
                <img src="../img/Argentina_flag_icon.svg.png" alt="bandera Argentina" style="background-color: white;" class="portfolio-contacto-img mx-1">
            </div>

            <div class="d-flex justify-content-center my-1">
                <img src="../img/phone.svg" alt="phone" style="background-color: white;" class="portfolio-contacto-img mx-1">
                <p>+54 299 610 9623</p>
            </div>

        </section>

        <hr class="m-1">

        <section class="portfolio-experiencia">

            <div class="m-1">
                <h1>Experiencia Laboral</h1>
            </div>

            <div class="card m-0 p-1">
                <div class="card-header m-0 p-1 d-flex">
                    <p>Freelance</p>
                    <p class="mx-1">2020</p>
                    <p class="mx-1">Actual</p>                   
                </div>
                <div class="card-body m-0 p-1">
                    <p>Development Full Stack Jr</p>
                </div>
            </div>

        </section>

    </div>

    <!--
    <script type="text/javascript">
        window.addEventListener("load", () => {

            const params = (new URL(document.location)).searchParams;
            var name = params.get("name");
            var surname = params.get("surname");
            var email = params.get("email");
            var adress = params.get("adress");
            var details = params.get("details");

            //inicializacion de variables
            if (name == null) {
                name = "Luis";
                surname = "Solís";
                email = "edusolis@yahoo.com.ar";
                adress = "San Carlos de Bariloche - Argentina";
            }

            document.getElementById("dpNombre").innerHTML = name;
            document.getElementById("dpApellido").innerHTML = surname;
            document.getElementById("dpEmail").innerHTML = email;
            document.getElementById("dpDireccion").innerHTML = adress;

        })
    </script>
    -->

</body>

<!--
    <footer></footer>
    -->

</html>
